@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* small utilities */
.hero-overlay {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.88) 0%,
    rgba(255, 255, 255, 0) 45%
  );
}

.card-shadow {
  box-shadow: 0 8px 30px rgba(20, 30, 40, 0.06);
}

.feature-icon-bg {
  background-color: rgba(10, 100, 200, 0.06);
}
